<div class="kub-datepicker">
    <div class="kub-datepicker-column year" data-type="year">
        <ul>
            <li></li>
            <%for(var i=data.yearRange[0],j=0;i<=data.yearRange[1];i++,j++){%>
                <li data-value="<%= i%>" data-index="<%= j%>">
                    <%= i %>
                </li>
            <%}%>
            <li ></li>
        </ul>
    </div>
    <div class="kub-datepicker-column month" data-type="month">
        <ul>
            <li></li>
            <%for(var i=1 ;i<= 12; i++){%>
                <li data-value="<%= i-1%>" data-index="<%= i-1%>">
                    <%= ( i < 10 ? ( "0" + i) : i)%>
                </li>
            <%}%>
            <li ></li>
        </ul>
    </div>
    <div class="kub-datepicker-column day" data-type="day">
        <ul>
            <li></li>
            <%for(var i=1 ;i<=31;i++){%>
                <li data-value="<%= i%>" data-index="<%= i-1%>">
                    <%=( i < 10 ? ( "0" + i) : i)%>
                </li>
            <%}%>
            <li ></li>
        </ul>
    </div>
    <div class="kub-datepicker-column hour" data-type="hour">
        <ul>
            <li></li>
            <%for(var i=0 ;i<=23;i++){%>
                <li data-value="<%= i%>" data-index="<%= i%>">
                    <%=( i < 10 ? ( "0" + i) : i)%>
                </li>
            <%}%>
            <li ></li>
        </ul>
    </div>
    <div class="kub-datepicker-column minute" data-type="minute">
        <ul>
            <li></li>
            <%for(var i=0 ;i<=59;i++){%>
                <li data-value="<%= i%>" data-index="<%= i%>">
                    <%= ( i < 10 ? ( "0" + i) : i)%>
                </li>
            <%}%>
            <li ></li>
        </ul>
    </div>
    <div class="kub-datepicker-column second" data-type="second">
        <ul>
            <li></li>
            <%for(var i=0 ;i<=59;i++){%>
                <li data-value="<%= i%>" data-index="<%= i%>">
                    <%= ( i < 10 ? ( "0" + i) : i)%>
                </li>
            <%}%>
            <li></li>
        </ul>
    </div>
    <div class="kub-datepicker-overlay"></div>
</div>
