{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "indent": 1,

    //代码检查
    //警告
    "no-alert": 1,
    "no-empty-function": 1,
    "no-script-url": 1,
    "no-unused-vars": 1,
    "no-undefined": 1,
    "no-wrap-func": 1,

    //错误
    "no-restricted-globals": 2,
    //"no-use-before-define":2,
    "no-void": 2,
    "no-caller": 2,
    "no-eval": 2,
    "no-debugger": 2,
    "no-console": 2,
    "no-delete-var": 2,
    "no-constant-condition": 2
  }
}
