<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>DatePicker Test</title>
    <style type="text/css">
    .wrapper{
        width:300px;
        margin: 200px auto;
        text-align: center;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="../build/css/dialog.css">
    <link rel="stylesheet" type="text/css" href="../build/css/datepicker.css">
</head>
<body>
时间选择器1
<div><input type="text" id="J_datepicker"/></div>
时间选择器2
<div><input type="text" id="J_datepicker1"/></div>
时间选择器3
<div><input type="text" id="J_datepicker2"/></div>
<div class="wrapper">

</div>

<script type="text/html" id="J_template">
    <div class="kub-datepicker">
        <div class="kub-datepicker-column year" data-type="year">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i=data.yearRange[0];i<= data.yearRange[1];i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i%>"><%= i%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-datepicker-column month"  data-type="month">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i= 1;i<=12;i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i-1%>"><%= (i<10 ? ("0" + i) : i)%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-datepicker-column day"  data-type="day">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i= 1;i<=31;i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i%>"><%= (i<10 ? ("0" + i) : i)%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-datepicker-column hour"  data-type="hour">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i= 0;i<=23;i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i%>"><%= (i<10 ? ("0" + i) : i)%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-datepicker-column minute"  data-type="minute">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i= 0;i<=59;i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i%>"><%= (i<10 ? ("0" + i) : i)%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-datepicker-column second"  data-type="second">
            <ul>
                <li class="kub-datepicker-show"></li>
                <%for(var i= 0;i<=59;i++){%>
                    <li class="kub-datepicker-show" data-value="<%= i%>"><%= (i<10 ? ("0" + i) : i)%></li>
                <%}%>
                <li class="kub-datepicker-show"></li>
            </ul>
        </div>
        <div class="kub-overlay"></div>
    </div>

</script>
<script type="text/javascript" src="../build/js/lib/zepto.js"></script>
<script type="text/javascript" src="../build/js/lib/underscore.js"></script>
<script type="text/javascript" src="../build/js/lib/hammer.js"></script>
<script type="text/javascript" src="../build/js/dialog.js"></script>
<script type="text/javascript" src="../build/js/date.js"></script>
<script type="text/javascript" src="../build/js/datepicker.js"></script>
<script type="text/javascript">
function test(){

    //采用默认的format yyyy-MM-dd
    var datepicker = new Kub.DatePicker($("#J_datepicker"));

    //采用默认的format yyyy-MM-dd
    //可配置title 与 本地化
    var datepicker1 = new Kub.DatePicker($("#J_datepicker1"),{
        title:"Date Picker",
        locale:"en"
    });

    //自定义format 
    var datepicker2 = new Kub.DatePicker($("#J_datepicker2"),{
        title:"选择时间",
        format:"yyyy-MM-dd,HH:mm:ss",
        confirm:function(e,datepicker){
            //格式化后的date
            console.log(datepicker.formatDate)
            
            //原始时间
            console.log(datepicker.date)

            //手动关闭选择器
            datepicker.hide();
        }
    });
}  
test();
</script>
</body>
</html>